OPERATORS

Arithmetic operators
Comparison operators
Assignment Operators
Logical Operators
Bitwise Operators
Membership Operators
Identity Operators

ARITHMATIC OPERATORS

In [2]:
## Arithmetic Operator
a = 56
b = 29

In [3]:
print("Arithmetic Operators")
print("Addition", a+b)
print("Subtraction", a-b)
print("Multiplication",a*b)
print("division",a/b)
print("Remainder",a%b)
print("Exponent",a**b)
print("Floor division",a//b)

Arithmetic Operators
Addition 85
Subtraction 27
Multiplication 1624
division 1.9310344827586208
Remainder 27
Exponent 498256282230823722187324267943936643753714170986496
Floor division 1

In [2]:
c=60
d=40
print("Arithmetic Operators")
print("Addition", c+d)
print("Subtraction", c-d)
print("Multiplication",c*d)
print("division",c/d)
print("Remainder",c%d)
print("Exponent",c**d)
print("Floor division",c//d)

Arithmetic Operators
Addition 100
Subtraction 20
Multiplication 2400
division 1.5
Remainder 20
Exponent 133674945388437340678388459765760000000000000000000000000000000000000000
Floor division 1

COMPARISION OPERATORS

In [4]:
## Comparison Operators
x = 35
y = 5
print("Comparison Operator")
print("Equals Operator",x==y)
print("Not Equals Operator",x!=y)
print("Less than or equal operator",x<=y)
print("Greater than or equal operator",x>=y)
print("Greater than Operator",x>y)
print("Less than Operator",x<y)

Comparison Operator
Equals Operator False
Not Equals Operator True
Less than or equal operator False
Greater than or equal operator True
Greater than Operator True
Less than Operator False

In [4]:
e=45
f=8
print("Comparison Operator")
print("Equals Operator",e==f)
print("Not Equals Operator",e!=f)
print("Less than or equal operator",e<=f)
print("Greater than or equal operator",e>=f)
print("Greater than Operator",e>f)
print("Less than Operator",e<f)

Comparison Operator
Equals Operator False
Not Equals Operator True
Less than or equal operator False
Greater than or equal operator True
Greater than Operator True
Less than Operator False

PYTHON ASSIGNMENT OPERATORS

In [ ]:
# Basic assignment
x = 10
print("x =", x)  

# Add and assign
x += 5  # Equivalent to: x = x + 5
print("x after x += 5:", x)  

# Subtract and assign
x -= 3  # Equivalent to: x = x - 3
print("x after x -= 3:", x)  

# Multiply and assign
x *= 2  # Equivalent to: x = x * 2
print("x after x *= 2:", x)  

# Divide and assign
x /= 4  # Equivalent to: x = x / 4
print("x after x /= 4:", x)  

# Modulus and assign
x %= 5  # Equivalent to: x = x % 5
print("x after x %= 5:", x)

x = 10
x after x += 5: 15
x after x -= 3: 12
x after x *= 2: 24
x after x /= 4: 6.0
x after x %= 5: 1.0

BITWISE OPERATORS

In [11]:
# Convert to binary
a = bin(t)
b = bin(u)

print("Binary of t is:", a)
print("Binary of u is:", b)

Binary of t is: 0b11110
Binary of u is: 0b1000

In [12]:
print("t & u =", bin(t & u))    # Bitwise AND
print("t | u =", bin(t | u))    # Bitwise OR
print("t ^ u =", bin(t ^ u))    # Bitwise XOR
print("~t =", bin(~t))          # Bitwise NOT of t
print("t << 1 =", bin(t << 1))  # Left shift
print("t >> 1 =", bin(t >> 1))  # Right shift

t & u = 0b1000
t | u = 0b11110
t ^ u = 0b10110
~t = -0b11111
t << 1 = 0b111100
t >> 1 = 0b1111

LOGICAL OPERATORS

In [14]:
# Logical operations
e=27
f=10
print("e > 20 and f < 15:", e > 20 and f < 15)  # True and True → True
print("e < 20 or f < 15:", e < 20 or f < 15)    # False or True → True
print("not (e == 27):", not (e == 27))          # not True → False

e > 20 and f < 15: True
e < 20 or f < 15: True
not (e == 27): False

In [ ]:
r=45
s=25
print("r > 20 and s < 15:", r > 20 and s < 15)  # True and True → True
print("r < 20 or s < 15:", r < 20 or s < 15)    # False or True → True
print("not (r == 27):", not (s == 27))          # not True → False

r > 20 and s < 15: False
r < 20 or s < 15: False
not (r == 27): True

MEMBERSHIP OPERATORS
(in,not in)

In [9]:
# WITH A LIST
fruits = ['apple', 'banana', 'cherry']

print('banana' in fruits)      
print('grape' not in fruits)   
print('apple' in fruits)
print('ram' in fruits)

True
True
True
False

In [6]:
# WITH A STRING
message = "Hello, Im Ananya Singh Babu."

print('Hello' in message)   
print('hi' not in message)  
print('Ananya' not in message)

True
True
False

In [8]:
# WITH A TUPLE
numbers = (1, 2, 3, 4)

print(3 in numbers)           
print(5 not in numbers) 
print(5 in numbers)

True
True
False

In [11]:
# WITH A SET
colors = {'red', 'green', 'blue'}

print('green' in colors)       
print('yellow' not in colors) 
print('black' in colors)

True
True
False

In [15]:
# WITH A DICTIONARY
person = {'name': 'Alice', 'age': 30}

print('name' in person)        
print('Alice' in person) 
print('Alice' not in person) 
print('age' not in person)

True
False
True
False

IDENTIFY OPERATORS( is, is not)

In [ ]:
# WITH LIST

x = [1, 2, 3]
y = [1, 2, 3]

print(x == y)   # True — values are equal
print(x is y)   # False — different memory objects
print(x is not y)
print(x is y)

True
False
True
False

In [21]:
s= [1,2,3]
t= [3,8,9]

print(s == t)
print(s is t)
print(s is not t)

False
False
True

In [22]:
# with string
s1 = "hello"
s2 = "hello"

print(s1 == s2)   # True — values match
print(s1 is s2)   # True — may be True due to string interning

True
True

In [25]:
a1 = "rurhnn"
a2 = "ahhsnl"

print(a1 == a2)
print(a1 is a2)
print(a1 is not a2)

False
False
True