LIST

In [5]:
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
print(fruits)
print(numbers)
print(fruits[0])

['apple', 'banana', 'cherry']
[1, 2, 3, 4, 5]
apple

In [11]:
print(numbers[4])
print(fruits[-3])
print(fruits[2])

5
apple
cherry

CHANGING LIST

In [13]:
fruits=["apple", "banana", "cherry"]
fruits[2]='orange'
print(fruits)

['apple', 'banana', 'orange']

In [17]:
fruits[1]='orange'
print(fruits)

['apple', 'orange', 'apple', 'orange', 'grape']

LIST OPERATION

append()-adds item at the end

insert()-adds item at specific position

In [18]:
fruits.append("grape")
fruits.insert(1, "mango")
print(fruits)

['apple', 'mango', 'orange', 'apple', 'orange', 'grape', 'grape']

In [19]:
name=["ANANYA","PRATIK","ANJALI","SUBRAT"]
print(name)

['ANANYA', 'PRATIK', 'ANJALI', 'SUBRAT']

In [20]:
name.append("rahul")
print(name)

['ANANYA', 'PRATIK', 'ANJALI', 'SUBRAT', 'rahul']

In [21]:
name.insert(2,"dev")
print(name)

['ANANYA', 'PRATIK', 'dev', 'ANJALI', 'SUBRAT', 'rahul']

In [ ]:
name.insert(2,"ram")
print(name)

['ANANYA', 'PRATIK', 'ram', 'dev', 'ANJALI', 'SUBRAT', 'rahul']

In [30]:
print (len(name))
print(name.count(5))

7
0

In [31]:
name=['ANANYA', 'PRATIK', 'ram', 'dev', 'ANJALI', 'SUBRAT', 'rahul']
print(name)

['ANANYA', 'PRATIK', 'ram', 'dev', 'ANJALI', 'SUBRAT', 'rahul']

In [33]:
name.insert(2,"ram")
print(name)

['ANANYA', 'PRATIK', 'ram', 'ram', 'ram', 'dev', 'ANJALI', 'SUBRAT', 'rahul']

In [50]:
#extend
o1=["Chicken","Mutton","Fish"] 
o2=["pepsi","sprite","appy"] 
o1.extend(o2) 
print(o1)

['Chicken', 'Mutton', 'Fish', 'pepsi', 'sprite', 'appy']

In [54]:
o1=["Chicken","Mutton","Fish"] 
o1.extend("Mushroom") 
print(o1)

['Chicken', 'Mutton', 'Fish', 'M', 'u', 's', 'h', 'r', 'o', 'o', 'm']

In [55]:
o1=["Chicken","Mutton","Fish"] 
o1.append("Mushroom") 
print(o1)

['Chicken', 'Mutton', 'Fish', 'Mushroom']

In [ ]:
#count
a =  ["s","d","d","r","d"]    
print(a.count("d"))
print(a.count("s"))

3
1

In [ ]:
# index value
n=[1,2,2,2,2,3,3]
print(n.index(3))
print(n.index(1))

5
0

In [58]:
# remove
n=[10,20,10,30] 
n.remove(10) 
print(n)

[20, 10, 30]

In [59]:
#pop 
n=[10,20,30,40] 
print(n.pop()) 
print(n.pop()) 
print(n)

40
30
[10, 20]

In [60]:
# reverse
n=[10,20,30,40] 
n.reverse() 
print(n)

[40, 30, 20, 10]

In [61]:
#sort
n=[20,5,15,10,0] 
n.sort() 
print(n)

[0, 5, 10, 15, 20]

In [62]:
s=["ananya","payal","badal","dev"]
s.sort()
print(s)

['ananya', 'badal', 'dev', 'payal']

NESTED LISTS

Sometimes we can take one list inside another list. Such type of lists are called nested lists.

In [68]:
n=[10,20,[30,40]] 
print(n) 
print(n[0])
print(n[2])
print(n[2][0])

[10, 20, [30, 40]]
10
[30, 40]
30