TUPLE

In [1]:
t=10,20,30,40 
print(t)  
print(type(t))

(10, 20, 30, 40)
<class 'tuple'>

In [3]:
t=23,
print(type(t))
s=20
print(type(s))

<class 'tuple'>
<class 'int'>

In [5]:
#by using index
t=(10,20,30,40,50,60) 
print(t[0])
print(t[-1])

10
60

In [8]:
# by using slice operator
t=(10,20,30,40,50,60) 
print(t[2:5])
print(t[2:100])
print(t[::2])

(30, 40, 50)
(30, 40, 50, 60)
(10, 30, 50)

Mathematical operators for tuple:

In [ ]:
# Concatenation Operator(+)
t1=(10,20,30) 
t2=(40,50,60) 
t3=t1+t2 
print(t3)

(10, 20, 30, 40, 50, 60)

In [10]:
#Multiplication operator or repetition operator(*) 
t1=(10,20,30) 
t2=t1*3 
print(t2)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [13]:
s=(1,2,4,5,6)
print (len(s))

5

In [14]:
r=(10,20,10,10,20) 
print(r.count(10))

3

In [16]:
# sorted()
t=(40,10,30,20) 
t1=sorted(t) 
print(t1)
#min()and max()
print(min(t)) 
print(max(t))

[10, 20, 30, 40]
10
40